#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# Root password
rootpw --iscrypted $1$.PTF95sR$c9QE92iaeo67mEkrX7ceP0
# System language
lang en_US
user --groups=wheel --name=grant --password=$6$2XKv4Qr86nJYW0NM$lpQ51zptoGNc.bTXC8BQ6irqIRrJkW3NdUqvP8uxhCKW964c6T4x9oYdEMV6sYdw4V1fdMgNfTL4CZLWrSPyY/ --iscrypted --gecos="grant"
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"
ignoredisk --only-use=sda
# Firewall configuration
firewall --enabled
# Network information
network  --bootproto=dhcp --device=ens192
# Halt after installation
halt
# Firewall settings
firewall --enabled --http --ssh
# System timezone
timezone America/Chicago --nontp
# UEFI Bootloader config
# bootloader --location=partition --append="rhgb quiet crashkernel=auto"
# System bootloader configuration
bootloader --append="crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1024
part pv.01 --size=1 --grow --ondrive=sda
volgroup vg_root pv.01
logvol / --fstype="xfs" --name=root --vgname=vg_root --grow

%packages
@^minimal
@core
kexec-tools
# RHEL 8 Packages
# @standard
# @web-server

%end
