
\.vscode/ftp-sync\.json

app/Lib/site-packages/

app/Lib/tcl8\.6/

app/Scripts/

\.idea/

app/pyvenv\.cfg

app/pip-selfcheck\.json

app/Include/site/python3\.7/greenlet/greenlet\.h

\.vscode/settings\.json

app/__pycache__/

tmp/

*.~vsdx

.vscode/

*.swp

*.pyc
