@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 300;
    src: local('roboto Regular'), local('roboto-Regular'),
         url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    src: local('roboto Light'), local('roboto-Light'),
         url('../assets/fonts/roboto/Roboto-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'MuseoSansForDell';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/dell/MuseoSansForDell-Regular.ttf') format('truetype')
}