<mat-dialog-content>
    <form id="myForm" [formGroup]="redirectPortsForm">
        <div [formArrayName]="'redirectPortsArray'">
            <mat-card *ngFor="let port of updateportsService.portsBehaviorSubject | async; let i = index">
                <mat-card-title>
                    {{port.name}}
                </mat-card-title>
                <div [formGroupName]="i">
                    <mat-form-field [style.width.px]=400>
                        <mat-label>Port Redirects</mat-label>
                        <input formControlName="port_entry" id="{{port.name}}_redirect_ports" matInput placeholder="1/tcp,2/udp,3/tcp,4/tcp,5/udp,6/udp"/>
                    </mat-form-field>
                    <mat-card-actions>
                        <button mat-stroked-button class="app-button" (click)="updateSwitchRedirectPorts(i)">Update Switch</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </form>
</mat-dialog-content>