/* Application-wide Styles */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

h1 {
    color: #369;
    font-family: MuseoSansForDell, Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: MuseoSansForDell, Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Roboto-Light, MuseoSansForDell, Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Roboto-Light, MuseoSansForDell, Arial, Helvetica, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto-Light, MuseoSansForDell, "Helvetica Neue", sans-serif; }

.white-text { margin: 0; font-family: Roboto-Light, MuseoSansForDell, "Helvetica Neue", sans-serif; color: white;}
.app-button { font-family: Roboto-Light, MuseoSansForDell; color: white; background-color: #137db5;}
.roboto-regular { font-family: Roboto-Regular, Roboto-Light, MuseoSansForDell; color: #007DB8;}
.hard-black { font-family: Robot-Light, MuseoSansDell, "Lucida Sans Unicode"; font-size: 18px; font-weight: 300;}