set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=1
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install Super Legit Fedora' --class fedora --class gnu-linux --class gnu --class os {
        echo "Loading vmlinuz"
        linuxefi vmlinuz inst.ks=http://{{ server_ip }}/ks/uefi/{% if item is defined %}{{ item }}.cfg{% else %}{{ kick_cfg }}{% endif %} inst.repo={{ repo_url }}

        echo "Loading initrd.img"
        initrdefi initrd.img
}
