<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PXE HTTP Server Test Page</title>
</head>
<body>
  <h1>PXE Server Test Page</h1>
  <p>This is a test page served from the PXE server's HTTP container.</p>
  <p>If you can see this page, the HTTP server is operational.</p>
</body>
</html>
